/* main page stylings */

@font-face {
    font-family: 'Raleway Regular';
    font-weight: 400;
    src: url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2');
}

:root {
    --dark: #00171F;
    --light: #edf2fb;
    --blue: #a3cef1;
    --lighter-dark: #003041;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway Regular', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--light);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

/* top navigation */

.search,
.button-list,
.user,
.nav-icons,
.account,
.user-and-button {
    display: flex;
}

.user,
.nav-icons,
.account,
.user-and-button {
    align-items: center;
}

.nav-icons,
.user-and-button
{
    justify-content: space-between;
}

.user h2,
.button-list button
{
    font-family: 'Raleway Regular', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.nav {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: white;
    padding: 16px;
    box-shadow: 5px 5px 10px #979dac;
    position: sticky;
    top: 0;
}

.search {
    width: max-content;
}

.button-list {
    gap: 12px;
}

.button-list button {
    background-color: var(--dark);
    color: white;
    padding: 16px;
    border-radius: 90px;
    border: none;
}

.user,
.search
 {
    gap: 8px;
}

.search input {
    padding: 8px;
    border-radius: 90px;
    border: 1px solid var(--dark);
    width: 600px;
}

.nav-icons {
    width: 100%;
}

.account {
    gap: 16px;
}

.notification-icon {
    height: 24px;
    width: 24px;
}


.user h2 {
    color: var(--dark);
    font-size: .75rem;
}

.pfp {
    height: 48px;
    width: 48px;
    border-radius: 90px;
    background-color: var(--blue);
}


.hello-user-name {
    font-size: 2rem;
}

/* sidebar */

.sidebar h1,
.sidebar li {
    display: flex;
}

.sidebar,
.sidebar h1 {
    font-family:  'Raleway Regular', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.sidebar h1,
.sidebar li
{
    align-items: center;
}

.sidebar {
    background-color: var(--dark);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    position: sticky;
    top: 0;
}

.sidebar-text {
    position: fixed;
}

.sidebar h1 {
    padding: 48px;
    font-weight: 800;
    text-align: center;
    gap: 8px;
    font-size: 2rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 12px;
    gap: 12px;
    font-weight: 500;
    font-size: 1rem;
}

/* project cards */
.projects,
.card-body {
    display: grid;
}

.card-body,
.card-side-column
{
    padding: 16px;
}

.project-card h3,
.other-user h3
{
    color: var(--dark);
}

.projects {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px; 
    grid-column: 1 / 2;
}

.card-body {
    gap: 16px;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / 4;
}

.projects h2 {
    grid-column: 1 / -1;
}

.right-column-cards {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 24px;
}

.project-card,
.side-card {
    box-shadow: 5px 5px 10px #979dac;
    background-color: white;
    border-radius: 8px;
    padding: 36px;
}

.project-card p {
    font-size: 1rem;
}

.other-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: .75rem;
}

/* hover effects */

.other-user-details h3:hover,
.hello-user-name:hover,
.project-card h3:hover,
.account p:hover,
.side-card p:hover,
.sidebar li:hover
{
    text-decoration: underline;
}

.other-user-details h3:hover,
.hello-user-name:hover,
.pfp:hover,
.card-icons img:hover,
.project-card h3:hover,
.account p:hover,
.sidebar li:hover,
.side-card p:hover,
.button-list button:hover
{
    cursor: pointer;
}

.button-list button:hover {
    background-color: var(--lighter-dark);

}

.account .pfp:hover {
    border: 1px solid var(--dark);
}

